a{
	color: #fff;
	text-decoration: none;
}
#jmdefault{
	width: 350px;
	margin: 0 auto;
	position:relative;
	top: 100px;
	background: #f5683d;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	line-height: 1;
}
.jminner{
	color: #fff;
    position:relative;
    padding: 20px 30px;
}

.jmuser_images{
	text-align: center;
}
.jmuser_images span{
	display: block;
margin: 0 auto;
background: #fff;
width: 50px;
border-radius: 30px;
padding: 5px;
height: 50px;
}
.jmuser_images i{color: #f5683d;font-size: 50px;}
.jmtitle{
	text-align: center;
	font-size: 23px;
	font-family: sans-serif;
	padding-top: 5px;
}
/*form*/
form#login-form{margin: 15px 0;background: #eceaed;
padding: 0 20px;}

form#login-form input{border: none;color: #fff;padding: 15px 0;margin:0 0 15px 0;width: 100%;}
form#login-form input.inputbox{
	text-indent: 10px;
	background: #d3d3d3;color: #666;
}
form#login-form input[type='submit']{
	
	background: #4fc5ad;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 3px #3a8974;
}

/*Login------------------*/
form#login-form span{
	display: inline-block;
	text-align: center;
	background: #4fc5ad;
	padding: 15px 0;
	width: 15%;	
}
.jm_remember input{margin:0;}
.jm-login-footer{overflow: hidden;}
.jm-login-footer a{display: block;}
.jmwidth{
	width: 50%;
	float: left;
}
.jmsocial{
	text-align: center;
}
.jmsocial ul{padding: 0;margin: 5px 0;}
.jmsocial ul li{
	display: inline-block;
	list-style: none;
}
.jmsocial ul li a{transition:1s;background: #1d9e74;padding: 4px;
font-size: 20px;
border-radius: 4px;
width: 20px;}
.jmsocial ul li a:hover{color: #1d9e74;background: #fff;}
/*Register------------------*/
.jmregister