.jm_login a{
	color: #fff;
	text-decoration: none;
}
.jm_login a:hover{
	color:  #f5683d;
}
.jmlayout1{
	width: 100%;;
	margin: 0 auto;
	background: #f5683d;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	line-height: 1;
}
.jm_login .jm-inner{
	color: #fff;
    position:relative;
    padding: 20px 30px;
    text-align: center;
}

.jm_login .jm-user-images span{
	display: block;
margin: 0 auto;
background: #fff;
width: 50px;
border-radius: 30px;
padding: 5px;
height: 50px;
}
.jm_login .jm-user-images i{color: #f5683d;font-size: 50px;}
.jm_login .jm-title{
	font-size: 23px;
	font-family: sans-serif;
	padding-top: 5px;
}
/*form*/
.jm_login form#jm-login-form{margin: 15px 0;background: #eceaed;padding: 10px 20px;color: #f5683d;}

.jm_login form#jm-login-form input{border-radius: 5px;border: none;color: #fff;padding: 10px 0;margin:5px 0;width: 100%;text-align: center;}
.jm_login form#jm-login-form input.inputbox{
	text-indent: 10px;
	background: #d3d3d3;color: #666;
}
.jm_login form#jm-login-form input[type='submit']{
	background: #f5683d;
	text-transform: uppercase;
	font-weight: bold;
}

/*Login------------------*/
.jm_login form#jm-login-form span{
	display: inline-block;
	text-align: center;
	background: #4fc5ad;
	padding: 15px 0;
	width: 15%;	
}
.jm_login form#jm-login-form .jm_remember p{display: inline-block;
margin: 0;}
.jm_login form#jm-login-form .jm_remember input{width: 15px;}
.jm_login .jm-login-footer{overflow: hidden;}
.jm_login .jm-login-footer a{display: block;color: #f5683d}
.jm_login .jm-social{
	text-align: center;
}
.jm_login .jm-social ul{padding: 0;margin: 5px 0;}
.jm_login .jm-social ul li{
	display: inline-block;
	list-style: none;
}
 .jm_login .jm-social ul li a{transition:1s;background:  #eceaed;padding: 4px;
font-size: 20px;
border-radius: 4px;
width: 20px;color:#f5683d;}
.jm_login .jm-social ul li a:hover{color: #fff;background: #f5683d;}
/*Register------------------*/
.jm_login form#jm-form-register{margin: 15px 0;background: #eceaed;padding: 10px 20px;color: #f5683d;}

.jm_login form#jm-form-register input{border-radius: 5px;border: none;color: #fff;padding: 10px 0;margin:5px 0;width: 100%;text-align: center;}
.jm_login form#jm-form-register input.inputbox{
	text-indent: 10px;
	background: #d3d3d3;color: #666;
}
.jm_login form#jm-form-register input[type='submit']{
	background: #f5683d;
	text-transform: uppercase;
	font-weight: bold;
}
#captchar-img,#jm-captchas span{
    float: left !important;
    margin:4px 0;
}
#jm-captcha-reload{
    display: inline-block;
    width: 20px;
    cursor: pointer;
    background: none;
    padding: 14px 10px;
    margin:4px 0;
}
#jm-captcha{
    float: right;
    width: 120px !important;
}
@media (min-width: 320px) and (max-width: 480px) {
#jm-captcha {
    float: left;
    width: 120px !important;
    margin-top: 10px;
}
}